$bp-tablet: 48em; // 768px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% => 1rem = 10px

  @media only screen and (max-width: $bp-tablet) {
    font-size: 50%;
  }
}

body {
  font-family: SpoqaHanSans, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: $bp-tablet) {
    background-color: #e1e4e7;
  }
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: inherit;
  }
}
input,
select,
button {
  -webkit-appearance: none;
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}
a,
button {
  cursor: pointer;
}
